* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAEAF4;
    display: flex;
}

header {
    background-color: #1F1F3C;
    color:#EAEAF4;
    font-size: 2rem;
    font-weight: 700;
    height: 100vh;
    width: 25vw;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
} 

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    font-size: 1.5rem;
    font-weight: 300;
    height: 50vh;
    width: 75vw;
    padding: 1em 2em;
}

.title-container {
    display: flex;
    justify-content: baseline;
    gap: 2.35em;
    padding-bottom: 2em;
} 

.body-container {
    display: flex;
    gap: 1.85em;
    padding-bottom: 0.75em;
} 

.title-input,
.body-input {
    font-size: 2rem;
    background-color: #FFFFFF;
    border: 0.25rem solid #1F1F3C;
    width: 50vw;
}

.title-input {
    height: 3rem;
}

.body-input {
    height: 5rem;
}

.label {
    font-size: 1rem;
    font-weight: 300;
}

.save-button {
    background-color: #1F1F3C;
    border: 0.25em solid #1F1F3C;
    color: #EAEAF4;
    font-size: 2rem;
    margin-left: 3.25em;
    width: 50vw;
    height: 10vh;
}

.save-button:hover:not([disabled]){
    color: yellow;
}

.save-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.card-grid {
    height: 50vh;
    width: 75vw;
    background-color: #EAEAF4;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mini-card {
    height: 45vh;
    width: 20vw;
    border: 0.25em solid #1F1F3C;
    background-color: #FFFFFF;
    color: #1F1F3C;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items:center; 
    overflow: hidden;
} 

.delete-button {
    background-image: url(./assets/delete.svg);
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: none;
    background-repeat: no-repeat;
}

.mini-card-header {
    background-color: #1F1F3C;
    height: 2.5rem;
    margin-top: -5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.orange-star {   
    background-image: url(./assets/star-active.svg);
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: none;
    background-repeat: no-repeat;
}

.white-star {   
    background-image: url(./assets/star.svg);
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: none;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}