body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EAEAF4;
    display: flex;
}

header {
    background-color: #1F1F3C;
    color:#EAEAF4;
    font-size: 100px;
    font-weight: 700;
    height: 100dvh;
    width: 25vw;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
} 

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    font-size: 40px;
    font-weight: 300;
    /* height: 40dvh; */
    width: 75vw;
    padding: 1em 2em;
    display: flex;
    flex-flow: column wrap;
}

.title-container {
    display: flex;
    justify-content: baseline;
    gap: 40px;
    padding-bottom: 2em;;
} 

.body-container {
    display: flex;
    gap: 20px;
    padding-bottom: 1em;
} 

.title-input {
    border: 5px solid #1F1F3C;
    height: 5dvh;
    width: 61.5vw;

}

.body-input {
    border: 5px solid #1F1F3C;
    height: 10dvh;
    width: 61.5vw;
}

.save-button {
    background-color: #1F1F3C;
    border-width: 5px solid #1F1F3C;
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 120px;
    width:62vw;
    height: 8dvh;
    cursor: pointer;
}

.save-button:hover:not([disabled]){
    color: yellow;
}

.save-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.card-grid{
    height: 50vh;
    background-color: #EAEAF4;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.mini-card{
    height: 250px;
    width: 200px;
    display: flex;
    border: solid black;
    border-width: thick;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}