body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EAEAF4;
    display: flex;
}

header {
    background-color: #1F1F3C;
    color:#EAEAF4;
    font-size: 80px;
    font-weight: 700;
    height: 100dvh;
    width: 25vw;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-content: center;
} 

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    font-size: 40px;
    font-weight: 300;
    height: 40dvh;
    width: 75vw;
    padding: 1em 2em;
    display: flex;
    flex-flow: column wrap;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }

.header-title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 10px;
}

.title-container {
    display: flex;
    justify-content: baseline;
    gap: 40px;
    padding-bottom: 2em;;
} 

.body-container {
    display: flex;
    gap: 20px;
    padding-bottom: 1em;
} 

.title-input {
    background-color: #FFFFFF;
    border: 6px solid #1F1F3C;
    height: 5dvh;
    width: 65vw;

}

.body-input {
    background-color: #FFFFFF;
    border: 6px solid #1F1F3C;
    height: 12dvh;
    width: 65vw;
}

.title-label {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 300;
}

.body-label {
    padding-top: 40px;
    font-size: 40px;
    font-weight: 300;
}

.save-button {
    background-color: #1F1F3C;
    border: 8px solid #1F1F3C;
    color: #EAEAF4;
    font-size: 50px;
    margin-left: 120px;
    width:66vw;
    height: 10dvh;
    cursor: pointer;
}

.save-button:hover:not([disabled]){
    color: yellow;
}

.save-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.card-grid {
    height: 50dvh;
    background-color: #EAEAF4;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.mini-card {
    height: 45dvh;
    width: 20vw;
    border: 8px solid #1F1F3C;
    background-color: #FFFFFF;
    color: #1F1F3C;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items:center; 
}